/* Pbanner */
#banner .bannerfl{
    width: 960px;
    height: 425px;
}


/* 右边 */
#banner .ebookR{
    width: 200px;
    height: 396px;
}
#banner .ebookR ul{
    margin-left:20px;
}
#banner .ebookR ul li{
    position: relative;
}
#banner .ebookR ul li span{
    left: -15px;
    top: 10px;
}
#banner .ebookR ul li:not(:last-child){
    border-bottom:2px solid #e6e6e6;
}
#banner .ebookR ul li h4{
    line-height: 42px;
}
#banner .ebookR ul li img{
    width: 75px;
    height: 100px;
}
#banner .ebookR ul li p{
    margin-right: 10px;
    width: 80px;  
}

#banner .ebookR ul li div,#banner .ebookR ul li.active h4{
    display: none
}

#banner .ebookR ul li.active div{
    display: block;
}










#Exclusive .proList li{
    float:left;
    width: 170px;
    height: 220px;
    margin:10px 15px;
}
#Exclusive .proList li img{
    width: 150px !important;
    height: 150px !important;
}

#Exclusive .Exc{
    display: none;
}
#Exclusive .on{
    display: block;
}

/* 乐购·图书折扣区 */
#Popular{
    height: 540px;
    padding-bottom: 90px;
}

#Popular .ptitle {
    height: 54px;
    border-bottom: 6px solid #f60;
    position: relative;
}

#Popular .ptitle span {
    display: inline-block;
    font-weight: normal;
    width: 280px;
    height: 48px;
    line-height: 48px;
    background: #f60;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

#Popular .pul li {
    width: 210px;
    height: 260px;
    margin-left: 30px;
    padding: 10px 0 10px 0;
}
#Popular .pul li:hover{
    background-color: #f2f2f2;
}

#Popular .pul li a img{
    width: 150px;
    height: 150px;
    margin: 7px 30px 0;
}

#Popular .pul li p {
    text-indent: 10px;
    line-height: 20px;
    margin-top: 5px;
}

#Popular .pul li p:nth-of-type(2) {
    color: #f4290d;
    position: relative;
    font-size: 14px;
}

#Popular .pul li p:nth-of-type(2)>img {
    width: 100px;
    height: 18px;
    position: absolute;
    top: -8px;
    right: 30px;
}
#Popular .pul li p:nth-of-type(3){
    color: #f4290d;

}
 
.tdlh{
    margin-left: 22px;
    text-decoration: line-through;
    color: #c0c0c0;
}
.pon{
    background: #f2f2f2;
}

/* 新书上架 */
/* 左边 */
#newbook .nkfl{
    height: 545px;
    width: 905px;
}
    
#newbook .nkfl h2{
    width: 905px;
    border-bottom: 6px solid #f60;
}
#newbook .nkfl h2 span{
    display: inline-block;
    width: 42px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 28px;
    color: #fff;
	background-color: #ff6600;
}
#newbook .nkfl ul{
    border: 2px solid #ccc;
    border-top: 0;
}
#newbook .nkfl ul li{
    float: left;
    width: 170px;
    height: 220px;
    margin: 12px 5px;
   
}
/* 右边 */
#newbook .ebookR{
    width: 282px;
    height: 490px;
    margin-top: 45px;
    
}
#newbook .ebookR ul{
    margin-left:20px;
}
#newbook .ebookR ul li{
    position: relative;
}
#newbook .ebookR ul li span{
    left: -15px;
    top: 10px;
}
#newbook .ebookR ul li:not(:last-child){
    border-bottom:2px solid #e6e6e6;
}
#newbook .ebookR ul li h4{
    line-height: 42px;
}
#newbook .ebookR ul li img{
    width: 112px;
    height: 147px;
}
#newbook .ebookR ul li p{
    margin-right: 10px;
    width: 130px;  
}

#newbook .ebookR ul li div,#newbook .ebookR ul li.active h4{
    display: none
}

#newbook .ebookR ul li.active div{
    display: block;
}


/* 猜你喜欢 */
#gusselove #content{
    overflow: hidden;
    position: relative;
    height: 450px;
}
#gusselove #content .proList{
    position: absolute;
    top: 0;
    left: 0;
}
#gusselove .list  li{
    float: left;
    width: 170px;
    height: 220px;
    margin: 10px 15px;
}




#footer{
    margin-top: 0;
}